.idea/
build/
.gradle/
node_modules/
.project
.settings
.classpath
.metadata
.vscode
.class
.war
out/
dist/
yarn.lock
bin/
.DS_Store
target/
classes/
# Package Files #
*.jar
*.war
*.ear
gradlew/
*.iml